<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="DGaleanaEcommerceString" connectionString="Data Source=.;Initial Catalog=DGaleanaEcommerce;User ID=sa;Password=pass@word1" providerName="System.Data.SqlClient" />
    <add name="DGaleanaEcommerceEntities" connectionString="metadata=res://*/DGaleanaEcommerce.csdl|res://*/DGaleanaEcommerce.ssdl|res://*/DGaleanaEcommerce.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=DGaleanaEcommerce;user id=sa;password=pass@word1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="DGaleanaEcommerceEntities1" connectionString="metadata=res://*/DGaleanaEcommerce.csdl|res://*/DGaleanaEcommerce.ssdl|res://*/DGaleanaEcommerce.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=DGaleanaEcommerce;user id=sa;password=pass@word1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceLogin" />
        <binding name="BasicHttpBinding_IServiceDepartamento" />
        <binding name="BasicHttpBinding_IServiceProducto" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:10967/ServiceLogin.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IServiceLogin" contract="ServiceReferenceLogin.IServiceLogin"
        name="BasicHttpBinding_IServiceLogin" />
      <endpoint address="http://localhost:10967/ServiceDepartamento.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceDepartamento"
        contract="ServiceReferenceDepartamento.IServiceDepartamento"
        name="BasicHttpBinding_IServiceDepartamento" />
      <endpoint address="http://localhost:10967/ServiceProducto.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceProducto"
        contract="ServiceReferenceProducto.IServiceProducto" name="BasicHttpBinding_IServiceProducto" />
    </client>
  </system.serviceModel>
</configuration>